
.logo{
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

.apresentacao{
    background-color: DodgerBlue;
}


/*coreas das divs*/
.orange{
    background-color: #FBBC05;
    box-shadow: 10px 10px 0px 0px #4285F4;
    transition: background-color 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-bottom: 50px;
}

.button-social{
    background-color: #3B5998;
}
.button-social:hover{
    background-color: #3B5998;
    border-color: #3B5998;
}


/* #contato{
    background-color: DodgerBlue;
    height: 400px;
    margin-bottom: 100px;
}
#detalhe{
    background-color: #ffa500;
    height: 10px;
}
#rodape{
    background: DodgerBlue;
    height: 300px;
}
#rodapeEmpresa{
    width: 50%;
}
 */