.footer{
    background-color: #4285F4;
}

.btn-ins{
    background-color: #E1306C;
}
.btn-li{
    background-color: #0082ca;
}
.btn-fb{
    background-color: #3b5998;
}
.btn-whatsapp{
    background-color: #25d366;
}