*{
    margin: 0px;
    padding: 0px;
}
.logo{
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
.container{
    width: 100%;
    text-align: center;
}
#apresentacao{
    background-color: DodgerBlue;
    height: 400px;
}
#apresentacao2, #apresentacao3{
    height: 600px;
}
.texto{
    float: left;
    width: 50%;
    height: 50%;
    margin-top: 150px;
}
.imagem{
    float: right;
    width: 50%;
    margin-top: 50px;
}
.texto2{
    float: right;
    width: 50%;
    height: 50%;
    margin-top: 300px;
}
.imagem2{
    float: left;
    width: 50%;
    height: 50%;
    margin-top: 150px;
}
.servicos{
    background-color: #ffa500;
    margin-left: 15%;
    margin-right: 15%;
    height: 300px;
}
.texto3, .texto4{
    width: 50%;
    float: left;
    margin-top: 100px;
    text-align: center;
}
.texto5{
    float: right;
    width: 50%;
    height: 50%;
    margin-top: 300px;
}
.texto6{
    float: right;
    width: 50%;
    margin-top: 15%;
}
.imagem3{
    float: left;
    width: 50%;
    margin-top: 150px;
}
.imagem4{
    float: left;
    width: 50%;
    margin-top: 10%;
}
#contato{
    background-color: DodgerBlue;
    height: 400px;
    margin-bottom: 100px;
}
#detalhe{
    background-color: #ffa500;
    height: 10px;
}
#rodape{
    background: DodgerBlue;
    height: 300px;
}
#rodapeEmpresa{
    width: 50%;
}
@media (max-width: 500px){
    .logo, .imagem, .imagem2, .imagem3, .texto, .texto2, .texto3, .texto4, .texto5{
        width: 100%;
    }
    #apresentacao{
        height: 100%;
        background-color: DodgerBlue;
    }
    #apresentacao3{
        height: 100%;
    }
    .texto{
        margin-top: 20px;
    }
    .texto2{
        margin-bottom: 0px;
        margin-top: 20px;
    }
    .imagem2{
        margin-top: 0px;
    }
    .servicos{
        margin-top: 200px;
    }   
}